@font-face {
	font-family: 'glyphicons';
	src:url('../static/fonts/glyphicons-halflings-regular.eot');
	src:url('../static/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
		url('../static/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
		url('../static/fonts/glyphicons-halflings-regular.woff') format('woff'),
		url('../static/fonts/glyphicons-halflings-regular.svg#glyphicons') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: 'FontAwesome';
  src: url('../static/fonts/fontawesome-webfont.eot?v=4.1.0');
  src: url('../static/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'),
  	   url('../static/fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'),
  	   url('../static/fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'),
  	   url('../static/fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
	font-family: 'Lato', sans-serif;
}

body.bienvenida {
	background: black;
}

#welcome {
	width: 960px;
	height: 500px;
	margin: 170px auto;
}

#get_started {
	width: 96px;
	margin: 0 auto;
}

#curve {
	position: absolute;
	left: 34.6%;
	top: 13.3%;
	margin: 0 auto;
	z-index: -1;
}

circle {
	fill: none;
	stroke: #FFFFFF;
}

footer {
  background-color: #000;
  color: #c5cacc;
  min-height: 69px;
  margin: 30px 0 0 0;
}
footer .d4 {
	background-image: url('../img/d4-footer.png');
	background-position: left center;
	background-repeat: no-repeat;
	min-height: 69px;
	padding-top: 15px;
	padding-left: 55px;
	text-align: left;
}
footer p {
	color: inherit;
	margin: 0;
	font-size: 1.2rem;
}