.description_top
    margin 0 auto
    text-align center
    width 80%
    h1
        font-weight bold
    p
        text-align center
        span
            color green
.content_ofert
    margon-bottom 20px
    .col-md-4
        margin 0px !important
        img
            margin-top 0px !important
    .description
        h1
            text-align left
            text-transform uppercase
        p
            text-align left
        .content_ofert
            span
                color green
            .skills
                li
                    list-style none
                    &:before
                        content '>'
                        color blue
                        margin-right 10px